*,*::before, *::after {
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color:coral;
    border-radius: black 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding:  5px 10px;
    outline: none;
}

.btn:hover {
    border-color: goldenrod;
}

.start-btn .retry-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    flex-direction: column;
}
 


.hide {
display: none;
 }

 
 .time {
color: black !important;
display: flex;
flex-direction: column;
font-size:large;
font-weight: bold;
justify-content: center;
align-items: center;

 }

#highscore-table {
font-size:large;
font-weight: bold;
align-items: center;
justify-content: center;
text-align: center;
}

#scores {
display: flex !important;
flex-direction: column !important;
columns: 1 !important;
align-items: center !important;
justify-content: center !important;
text-align: center !important;
}