* {
    color: coral;
    background-color: black;
}

.hide {
    display: none;
}

body{
    text-align: center;
}


.choices button {
    padding: 2%;
    margin: 2%;
    background-color: darkblue;
}

.btn-primary {

}

#start-card{

   
}